body {
  color: #333;
  padding:  14px;
  line-height: 22px;
  width: 650px;
  margin: 0 auto;
  font-family: helvetica, arial, freesans, clean, sans-serif;
}

body > * {
  text-align: center;
}

span.lastcommit-widget {
  font-size: 22px !important;
  display: flex;
  justify-content: center;
}

a:hover {
  color: #00438A;
  text-decoration: underline;
}

a {
  color: #0069D6;
  text-decoration: none;
}

pre {
  color: #404040;
  font-family: Monospace, 'Andale Mono', 'Courier New';
  font-size: 12px;
  text-align: left;
  border: 0 !important;
}
